<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Cocktail</h1>
      <p>
        <strong>Name:</strong>
        <%= @cocktail.name %>
      </p>

      <%= link_to 'All cocktails', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>


